nav.navmenu
    ul.menu
        li.menu-item
            a(href="courses.html")
                i.material-icons book
                | Cursos
        li.menu-item
            a(href="home.html")
                i.material-icons home
                | Inicio
        li.menu-item.active
            a(href="#")
                i.material-icons exit_to_app
                | Salir