@mixin card() {
    color: #000;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(#000, 0.2);
    font-weight: $regular;
    letter-spacing: 0.25px;
    font-size: 14px;
    padding-left: $gutter;
    padding-top: $gutter;
    padding-right: $gutter;
    padding-bottom: $gutter;
    transition: all .3s;

    &:hover {
        background: #F5F5F5;
        box-shadow: 0 1px 3px rgba(#000, 0.2);
    }
}

@mixin cardImage() {
    color: #000;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(#000, 0.2);
    font-weight: $regular;
    letter-spacing: 0.25px;
    font-size: 14px;
    transition: all .3s;

    &:hover {
        background: #F5F5F5;
        box-shadow: 0 1px 3px rgba(#000, 0.2);
    }
}