<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="css/style.css")
        title Tarea
    body
        header.header-image(style="background-image: url(img/course.jpg)")
            .top
                .icon-back
                    a(href="#")
                        i.material-icons keyboard_backspace
            .header
                h6 Trigonometría

        .taskss
            .tasks-cont
                .tasks-body
                    .tasks-title
                        h6 Tarea de Trigonometría
                    .tasks-text
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, nemo. Dolorum rerum delectus animi dolores ratione velit, assumenda iste quisquam asperiores ab architecto hic ipsa, quod, mollitia dolorem pariatur consequatur!

                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, nemo. Dolorum rerum delectus animi dolores ratione velit, assumenda iste quisquam asperiores ab architecto hic ipsa, quod, mollitia dolorem pariatur consequatur!
                    .tasks-verify
                        button Marcar como revisada
        
        include includes/navmenu.pug